:root {
	--text: #dbdfac;
	--bg: #2a1e5c;
	--btn-bg: #d7f171;
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	color: var(--text);
	background-color: var(--bg);
	font-family: 'Nerko One', cursive;
}

h1 {
	font-size: 80px;
	margin-bottom: 0;
	text-transform: uppercase;
}

.container {
	height: 100vh;
	width: 100vw;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
}
.grid-container {
	display: grid;
	grid-template-columns: auto auto auto;
	background-color: #2196f3;
	padding: 10px;
	height: 100vh;
}
.grid-item {
	background-color: rgba(56, 59, 102, 0.8);
	border: 1px solid rgba(0, 0, 0, 0.8);
	padding: 20px;
	font-size: 50px;
	text-align: center;
	/* width: 40%; */
}

#board {
	width: 30vw;
	display: flex;
	flex-wrap: wrap;
	font-size: 100px;
	margin-top: 40px;
}

.box {
	height: 10vh;
	width: 10vw;
	display: flex;
	justify-content: center;
	align-items: center;
	color: var(--text);
}

#restart {
	padding: 10px 20px;
	background-color: var(--btn-bg);
	border: none;
	border-radius: 20px;
	color: var(--bg);
	font-size: 20px;
	font-weight: bold;
	cursor: pointer;
	text-transform: uppercase;
}
